apiVersion: apps/v1
kind: Deployment
metadata:
  name: file-service
  namespace: file-sharing
spec:
  replicas: 1
  selector:
    matchLabels:
      app: file-service
  template:
    metadata:
      labels:
        app: file-service
    spec:
      automountServiceAccountToken: false
      containers:
        - name: file-service
          image: nazim112/file-service:latest
          env:
            - name: DB_HOST
              value: "postgres"
            - name: DB_PORT
              value: "5432"
            - name: DB_USER
              value: "fileuser"
            - name: DB_PASSWORD
              value: "filepassword"
            - name: DB_NAME
              value: "filemanager"
            - name: MINIO_ENDPOINT
              value: "minio:9000"
            - name: MINIO_ACCESS_KEY
              value: "minioadmin"
            - name: MINIO_SECRET_KEY
              value: "minioadmin"
            - name: MINIO_BUCKET
              value: "files"
            - name: MINIO_USE_SSL
              value: "false"
            - name: NATS_URL
              value: "nats://nats:4222"
            - name: SERVER_PORT
              value: "8080"
            - name: KEYCLOAK_URL
              value: "http://keycloak:8080/realms/bondbridg"

          ports:
            - containerPort: 8080
          resources:
            limits:
              memory: "256Mi"
              cpu: "250m"
            requests:
              memory: "128Mi"
              cpu: "100m"

---
apiVersion: v1
kind: Service
metadata:
  name: file-service
  namespace: file-sharing
spec:
  selector:
    app: file-service
  ports:
    - port: 8080
      targetPort: 8080

---
apiVersion: v1
kind: Service
metadata:
  name: file-service-loadbalancer
  namespace: file-sharing
spec:
  type: NodePort
  selector:
    app: file-service
  ports:
    - port: 80
      targetPort: 8080
      nodePort: 30080